@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
/* body {
  background: gray;
} */
.text-shadow {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.card-style {
  border-radius: 1em;
}

.footer {
  background-color: #ebebe0;
}

.one-category {
  background-color: rgba(40, 50, 50, 0.7);
  color: white;
}

.div-style {
  border-radius: 4em;
}

.nav-style {
  background-color: white;
}
